{% extends 'base.html.twig' %}

{% block body %}


    <form method="post" action="">
        <input type="text" name="nom">
        <input type="text" name="prenom">
        <input type="submit" value="GO">

    </form>
{% endblock %}

